<% # there was no each method in the tutorial- and that's correct cuz it iterates 100times per 100 %>
<% # @posts.each do |post| %>
<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.user.full_name %>
  </td>
  <td>
    <%= truncate(post.rationale) %>
  </td>
</tr>
<% #  end %>