<h1>
  Posts index
</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Overtime
      </th>
      <th>
        Date
      </th>
      <th>
        User
      </th>
      <th>
        Rationale
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
          
<%= paginate @posts %> 